.section__1 {
    background-image: url("../media/giammarco-zeH-ljawHtg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* min-height: 70vh; */
    position: relative;
}

.section__1 > div {
    width: 100%;
    min-height: 500px;
    background-color: rgba(255, 255, 255, 0.1);
}